In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
source= requests.get('https://en.wikipedia.org/wiki/List_of_districts_in_the_London_Borough_of_Harrow').text
soup= BeautifulSoup(source,'lxml')
table= soup.find('table',class_='wikitable')
#print(table.prettify())

In [7]:
harrow_neigh_list= []

for row in table.find_all('tr')[1:]: #loop through rows
        try: #this will exclude the rows that are headers
            col1= row.find_all('td')[0] #we want info from the first column of each row
            neigh= col1.find('a').text # find the text
            harrow_neigh_list.append(neigh)
        except:
            pass
print(len(harrow_neigh_list))
print(harrow_neigh_list)

18
['Belmont', 'Canons Park', 'Greenhill', 'Harrow', 'Harrow on the Hill', 'Harrow Weald', 'Hatch End', 'Headstone', 'Kenton', 'North Harrow', 'Pinner', 'Queensbury', 'Rayners Lane', 'Roxeth', 'South Harrow', 'Stanmore', 'Wealdstone', 'West Harrow']

In [8]:
harrow_neigh_df= pd.DataFrame(columns=['Neighborhood','Latitude','Longitude'])
harrow_neigh_df

Empty DataFrame
Columns: [Neighborhood, Latitude, Longitude]
Index: []

In [6]:
import googlemaps
API_key= 'AIzaSyAaZ45aH6Iuhjkx8reDnDDZ1qQ5Cs61h2g'
gmaps= googlemaps.Client(key= API_key)

In [12]:
num_of_neigh= len(harrow_neigh_list)
for i in range(0, num_of_neigh):
    neigh= harrow_neigh_list[i]
    harrow_neigh_df.loc[i, 'Neighborhood']= neigh
    results= gmaps.geocode(neigh+', harrow, london')
    try:
        lat= results[0]['geometry']['location']['lat']
        lon= results[0]['geometry']['location']['lng']
    except:
        lat= 'None'
        lon= 'None'
    harrow_neigh_df.loc[i, 'Latitude']= lat
    harrow_neigh_df.loc[i, 'Longitude']= lon

harrow_neigh_df

          Neighborhood Latitude Longitude
0              Belmont  51.6012 -0.319275
1          Canons Park  51.6077 -0.296236
2            Greenhill   51.583 -0.332767
3               Harrow  51.5706 -0.339636
4   Harrow on the Hill  51.5706 -0.339636
5         Harrow Weald  51.6053 -0.338039
6            Hatch End  51.6104 -0.370708
7            Headstone  51.5961 -0.333486
8               Kenton  51.5843 -0.302274
9         North Harrow  51.5841 -0.364434
10              Pinner  51.5952 -0.378002
11          Queensbury  51.5942 -0.285368
12        Rayners Lane  51.5762 -0.370254
13              Roxeth  51.5711 -0.346111
14        South Harrow  51.5684 -0.355348
15            Stanmore  51.6164 -0.319686
16          Wealdstone  51.5961 -0.333486
17         West Harrow  51.5778 -0.353272